<%- include('../utils/head.ejs') %>
    <%- include('../utils/navbar.ejs') %>
        <div class="container">
            <table class="table align-middle mt-5">
                <thead class="bg-success">
                    <tr>
                        <td>Author</td>
                        <td>Title</td>
                        <td>Text</td>
                        <td>Price</td>
                        <td>Image</td>
                        <td>category</td>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr>
                        <td>Author</td>
                        <td>Title</td>
                        <td>Text</td>
                        <td>Price</td>
                        <td>Image</td>
                        <td>category</td>
                    </tr>
                </tbody>
            </table>
        </div>
<%- include('../utils/footer.ejs') %>